@model List<EvaluationBatch>

@{
    ViewData["Title"] = "Previous Evaluation Result";
}

<div class="mt-3">

    <h3>Previous Evaluation Result List</h3>

    <div class="table-responsive mt-2">

        <table class="table table-hover table-responsive table-bordered border-dark table-sm">
            <thead>
                <tr class="bg-dark text-white">
                    <th scope="col" class="text-center">Batch ID</th>
                    <th scope="col">ModelID</th>
                    <th scope="col">Created AT</th>
                    <th scope="col">Metrics</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var batches in Model)
                {
                    <tr class="cursor-pointer align-middle" onclick="window.location.href='/Evaluate/EvalResultByBatch/@batches.ID'">
                        <td class="text-center">@batches.ID</td>
                        <td>@batches.ModelName</td>
                        <td>@batches.CreatedAt</td>
                        <td>
                            <div class="fw-bold">
                                Accuracy : @batches.Metrics.Accuracy%
                            </div>
                            <div class="fw-bold text-success">
                                Correct : @batches.Metrics.Correct
                            </div>
                            <div class="fw-bold text-danger">
                                Incorrect : @batches.Metrics.InCorrect
                            </div>
                            <div class="fw-bold">
                                Total : @batches.Metrics.Total
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>